[user]
	email = jpanzini@neuronicworks.com
	name = Julian Panzini
[alias]
	gl = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[core]
	editor = vim
